/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  height: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
header {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}
header nav a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
}
header nav a:last-child {
  margin-right: 0;
}
header nav a:hover {
  color: lightgrey;
}
.jumbotron {
  display: flex;
  background: lightgrey;
  border-radius: 1%;
  padding: 1rem;
  max-height: 60vh;
}
.jumbotron div {
  display: flex;
  width: 50%;
}
.jumbotron div img {
  width: 80%;
  margin: auto;
}
.jumbotron .jumbo-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  padding: 4rem 4rem 4rem 0;
}
.jumbotron .jumbo-heading h1 {
  font-size: 5rem;
}
.jumbotron .jumbo-heading p {
  font-size: 3rem;
}
.main-content {
  margin: 20px 0;
  display: flex;
}
.main-content div {
  width: 50%;
  padding: 1rem;
  font-size: 1.5rem;
}
.main-content div h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.main-content div ul {
  border: 1px solid lightgrey;
  border-radius: 1%;
}
.main-content div li {
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}
.main-content div p {
  line-height: 1.5;
}
.work-history h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.work-history table {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  font-size: 1.5rem;
  width: 100%;
  height: 30vh;
  text-align: center;
}
.work-history table tr:nth-child(even) {
  background: lightgrey;
}
.work-history table tr th {
  font-weight: bolder;
  padding-top: 10px;
}
.work-history table tr td {
  padding-top: 10px;
}
